<!-- Class Binding -->
<h1 [class.text-red]="isTrue">Angular App</h1>

<!-- Style Binding -->
<h1 [style.color]="isTrue ? 'red' : 'blue'">Style Binding</h1>

<!-- Event Binding -->
<button (click)="buttonClick()">Click Me</button>

<!-- Event Filtering and template variable-->
<input type="text" (keyup.enter)="onKeyUp(username.value)" #username />

<!-- Two Way Data Binding -->
<div>
  <input
    type="text"
    [(ngModel)]="userNameUsingTWDB"
    (keyup.enter)="onKeyupInTWDB()"
  />
</div>

<!-- One Way Vs. Two Way Data Binding -->
<input type="text" [value]="textValue" (keyup.enter)="onKeyUpInOWAndTWDB()" />
<br />
<input
  type="text"
  [(ngModel)]="textValue"
  (keyup.enter)="onKeyUpInOWAndTWDB()"
/>

<br />
<p>
  --------------------------------------------------------------------------------------------------------------
</p>
<app-post-form></app-post-form>
