<h1 class="h1 mt-5 ml-5">Template Driven Form</h1>
<!-- <p>{{ name }}</p> -->
<div class="container mt-5">
  <div class="form-area">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label>First Name</label>
        <input
          type="text"
          placeholder="Full Name"
          class="form-control"
          name="fullname"
          ngModel
          #fullName="ngModel"
          (change)="getValue(fullName)"
          required
          [ngClass]="{
            'is-invalid': fullName.touched && fullName.invalid
          }"
          minlength="5"
          maxlength="10"
        />

        <div
          class="alert alert-danger"
          *ngIf="fullName.touched && fullName.invalid"
        >
          Full Name is required min 5 length
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          placeholder="Email"
          class="form-control"
          name="email"
          ngModel
          #email="ngModel"
          pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          required
        />
      </div>

      <div class="form-group">
        <label>Address</label>
        <textarea
          cols="30"
          rows="10"
          placeholder="Address"
          class="form-control"
          name="address"
          ngModel
        ></textarea>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        Submit
      </button>
    </form>
  </div>
</div>
